* {
  margin: 0%;
  padding: 0%;
}

html,body {
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: Arial;
}


.Home-up{
  width: 100%;
  height: 140%;
  background-color: black;
  display: flex;
  position: relative;
}

.Home-up-left{
  width: 40%;
  height: 40%;
  background-color: black;
  position: absolute;
  top: 20%;
  left: 0%;
  z-index: 100;
}

.Home-up-right{
  width: 100%;
  height: 100%;
  background-color: black;
}

.Home-up-title{
  position: absolute;
  z-index: 100; 
  width: 400px;
  height: 50px;
 
  font-size: 20px;
  color: white;
  left: 640px;
  margin-top: 120px;
}

.Home-up-left-title{
  width: 80%;
  height: 290px;
  position: relative;
  top: 60%;
  left: 8%;
  line-height: 150%;
}



span-up:hover{
  background-color: white ;
  color: black ;
}

.Home-jet{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.Home-jet:hover .Home-img-left img{
  margin-top: 20%;
  opacity: 1;
}




.Home-img-left{
  width: 60%;
  height: 120%;
  position: relative;
}

.Home-img-left img{
  width: 90%;
  height: 52%;
  margin-top: 24%;
  opacity: 0.6;
  transition: all 1s;
}

.Home-title-right{
  width: 40%;
  height: 100%;
  background-color: black;
}

.Home-title-right-item{
  width: 90%;
  height: 300px;
  position: relative;
  top: 20%;
}

.Home-up-left-title h1{
  color: white;
  position: relative;
  top: 20%;

}
.Home-up-left-title p{
  color: white;
   position: relative;
   top: 30%;
} 

.span-up{
    transition: all 1s;
    cursor: pointer;
    color: white;
    width: 230px;
    height: 50px;
    background-color: black;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 8%;
    border: 3px solid white;
    font-size: 15px;
    text-align: center;
    line-height: 50px;
}

.span-up:hover{
    background: white;
    color:black;
}

.span-up-to{
    transition:all 1s;                         
    cursor: pointer;
    color: white;
    width: 230px;
    height: 50px;
    background-color: black;
    display: inline-block;
    position: relative;
    top: 60%;
    left: 1%;
    border: 3px solid white;
    font-size: 15px;
    text-align: center;
    line-height: 50px;
}

.span-up-to:hover{
    background: white;
    color:black;
}
.Home-up-right video{
    width: 100%; 
    height: 100%;
    object-fit:contain;
    position: absolute; 
    left: 15%; 
    top: 10%;

}

.Home-title-right-item h1{
    color: white;
    font-size: 40px;
    position: relative;
    top: 30%;
}

.Home-title-right-item p{
    color: white;
    position: relative;
    top: 40%;
    line-height: 30px;
}
